.item {
  border-radius: var(--border-radius-large);
  border: 1px solid var(--color-gray-40);
  min-height: 100px;
  min-width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  height: 70px;
  width: 100%;
  margin-bottom: 5px;
  padding-right: 10px;
}

.image {
  border-radius: var(--border-radius-medium);
  width: 20%;
  min-width: 100px;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: var(--color-gray-40);
}

.cartDescription {
  padding: 5px;
  width: 60%;
}

.title {
  font-size: 1rem;
  font-weight: bold;
}

.description {
  font-size: 0.8rem;
}
.cartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  padding: 2px;
  margin-right: 3px;
  border: 1px solid var(--color-gray-40);
  border-radius: var(--border-radius-small);
  
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
}
.price {
  font-size: 1rem;
  font-weight: bold;
}
